/* elements */ 
p { 
    color: #F5FBEF; 
    font-family: Arial, Helvetica, sans-serif; 
}

.logo { 
    float: left;
    color: #FFC2E5; 
    font-family: Hack, monospace; 
    font-size: 2rem;
    height: 3rem;
    padding: 5px; 
    text-decoration: none;

}
.logo:hover { color: #F5FBEF; }

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

header {
    color: #181B25;
    padding-bottom: 10px;
    margin-bottom: 0px;
}



nav           { float: right }
header::after { content: ''; display: table; clear: both; }
nav ul        { margin: 0; padding: 0; list-style: none; }
nav a         { color: #AEFCFE; text-decoration: none; text-transform: lowercase; } /*color per link */
nav a:hover   { color: #F5FBEF; text-decoration: bold; }

nav li        { 
    display: inline-block; 
    margin-left: 70px; 
    padding-left: 70px; 
    padding-top: 30px; 
    font-family: Hack, monospace; 
}


body { 
    padding: 7rem; 
    padding-top: 0px;
    margin-top: 0px;
    color: #181B25; 
}

.content {
    width: 70%;
    float: left; 
}

.sidebar { 
    width: 20%;
    float: right; 
}

/*
.footer { 
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    position: left; 
}
*/

/* header sizes */
.size-1 { font-family: Hack, monospace; font-size: 2.5rem; }
.size-2 { font-family: Hack, monospace; font-size: 2rem;   } /* ISSUE WITH THIS ONE */
.size-3 { font-family: Hack, monospace; font-size: 1.5rem; }

/* colors */
.red    { color: #FC9797; }
.orange { color: #FFAE80; }
.yellow { color: #FBF8B1; }
.green  { color: #8EFFB6; }
.blue   { color: #AEFCFE; }
.violet { color: #AE94D0; }
.pink   { color: #FFC2E5; }

.black  { color: #181B25; } /* backround */
.grey   { color: #ADADAD; } /* for date/time of posts and subtittles */
.white  { color: #F5FBEF; } /* for paragraph text. */

/* text  */
.subtittle   { color: #ADADAD; font-family: Hack, monospace; }
.normal-text { color: #F5FBEF; font-family: Arial, Helvetica, sans-serif; }
.code-block  { font-family: Hack, monospace; }