p { 
    color: #F5FBEF;
    font-family: Hack, monospace;
}

body {
    background-color: #181B25;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F5FBEF;
  }
  
  #navbar {
    width: 100%;
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
  }

.logo { 
    color: #FFC2E5;
    font-family: Hack, monospace;
}

/* headers */
h1 { font-size: 2.5rem;}
h2 { font-size: 2rem;  }
h3 { font-size: 1.5rem;}
h4 { font-size: 1.5rem;}
h5 { font-size: 1.5rem;}
h6 { font-size: 1.5rem;}

/* colored headers */
.red-header    { color: #FC9797; font-family: Hack, monospace; }
.orange-header { color: #FFAE80; font-family: Hack, monospace; }
.yellow-header { color: #FBF8B1; font-family: Hack, monospace; }
.green-header  { color: #8EFFB6; font-family: Hack, monospace; }
.blue-header   { color: #AEFCFE; font-family: Hack, monospace; }
.violet-header { color: #AE94D0; font-family: Hack, monospace; }

/* text  */
.subtittle   { color: #ADADAD; font-family: Hack, monospace; }
.normal-text { color: #F5FBEF; font-family: Arial, Helvetica, sans-serif; }
.code-block  { font-family: Hack, monospace; }